head,
body {
    width: 100%;
    height: 100%;
}

nav {

    background: linear-gradient( rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.1)),
        url('img/chemistry.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: table;
    padding-bottom: 450px;
}

.text-vertical-center {
    text-align: center;
    color: white;
}

#title {
    font-size: 60px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 250px;
}

#subtitle {
    font-size: 30px;
}

#bs-example-navbar-collapse-1 > ul > li.nav-item > a {
    color: white;
}

body > nav > div.container-fluid > div.navbar-header > span {
    color:white;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    padding: 10px 60px;
}

.circle {
      height: 150px;
      width: 150px;
      background-color: white;
      border-radius: 50%;
      display: inline-block;
      padding: 6px;
      margin-bottom: 80px;
      margin-left: 80px;
      margin-right: 40px;
      text-align: center;
      box-shadow: 6px 6px gray;
      transition: transform 2s opacity 2s;
      transition-timing-function: ease-in-out;
}

h3 {
      margin: 55px auto;
      opacity: 1;
      transition: opacity 0.1s;
}

.circle:hover {
      transform: scale(1.6, 1.6);
}
    
.circle:hover h3 {
      opacity: 0;
}

.circle:hover p {
      opacity: 1;
}
