head,
body {
     background-color: lightgray;
    }
h1 {
    color: black;
    text-align: center;
}
h2 {
    color: black;
    text-align: center;
    
}
h3{
    color:black;
    margin-left:150px;
    margin-right:250px;
    display:inline-table;
    
}

li {
    width:400px;
    color: black;
    margin-left:10px;
}

#Boyle{
    margin-left:10px;
}
#Charles{
    margin-left:10px;
}
#Avogadro{
    margin-left:10px;
}
#Gay-Lussac{
    margin-left:10px;
}
#Ideal-1{
    margin-left:10px;
    width:400px;
    height:300px;
}
#Ideal-2{
    margin-left:10px;
    width:400px;
    height:300px;
}
#Mole-1{
    margin-left:10px;
    width:400px;
    height:300px;
}
#Mole-2{
    margin-left:10px;
    width:400px;
    height:300px;
}