head,
body {
    width: 100%;
    height: 100%;
}

nav {

    background: linear-gradient( rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.1)),
        url('img/cover-page/chemistry1.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 450px;
}

#title {
    font-size: 60px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 250px;
    text-align: center;
    color: white;
}

#subtitle {
    font-size: 30px;
    text-align: center;
    color: white;
}

#bs-example-navbar-collapse-1 > ul > li.nav-item > a {
    color: white;
}

body > nav > div.container-fluid > div.navbar-header > span {
    color:white;
}

#bs-example-navbar-collapse-1 > ul > li.dropdown > a {
    color: white;
}

h1 {
    text-align: center;
}

p {
    padding: 10px 60px;
}

#center {
    text-align: center;
}

h3 {
      margin: 55px auto;
      text-align: center;
}

#contact {
    background-color: black;
    color: white;
}

.col-md-3 {
    margin: 50px;
    height: 600px;
}

.bi {
    padding: 0px;
}

img {
    text-align: center;
}

table {
    margin: 20px;
}

h2 {
    font-size: 30px;
}

.text-center {
    text-align: center;
}

.color-align {
    color: #1791D6;
}

h4 {
    font-size: 25px;
    margin-left: 20px;
}
#Boyle{
    margin-left:10px;
}
#Charles{
    margin-left:10px;
}
#Avogadro{
    margin-left:10px;
}
#Gay-Lussac{
    margin-left:10px;
}
#Ideal-1{
    margin-left:10px;
    width:400px;
    height:300px;
}
#Ideal-2{
    margin-left:10px;
    width:400px;
    height:300px;
}
#Mole-1{
    margin-left:10px;
    width:400px;
    height:300px;
}
#Mole-2{
    margin-left:10px;
    width:400px;
    height:300px;
}
#Electrolysis{
    background-color: white;
}

#nav-bi1 {
    background: linear-gradient( rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.1)),
        url('img/bi1.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 450px;
}
